.container {
  color: black;
  margin-top: 10rem;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-right: auto;
  margin-left: auto;
}

table {
  width: 100%;
  background: #fff;
  border-radius: 10px
  
}